

{% for item in ip_interfaces %}
 {% if [item.vlaninterface] %}
  interface {{ item.vlaninterface }}
  description {{ item.description }}
  no shutdown
  ip address {{ item.ip }} 255.255.255.0
  exit
{% else %}
  interface {{ item.interface }}
  no switchport
  description {{ item.description }}
  no shutdown
  ip address {{ item.ip }} 255.255.255.0
  exit
 {% endif %}
{% endfor %}

