{% for item in ip_interfaces %}
interface {{ item.interface }}
 description {{ item.description }}
 no shutdown
 {% if lookup('hostvars', item.interface) != VLAN2 %}
 no switchport
 {% endif %}
 ip address {{ item.ip }} 255.255.255.0
 exit
{% endfor %}