{$ set VLAN = VLAN2 %}

{% for item in ip_interfaces %}
interface {{ item.interface }}
 description {{ item.description }}
 no shutdown
 {% if [item.interface] != [VLAN] %}
 no switchport
 {% endif %}
 ip address {{ item.ip }} 255.255.255.0
 exit
{% endfor %}