{% for item in dynamic_routing %}
interface {{ item.loopback_number }}
 no shutdown
 ip address {{ item.loopback_address }}
 exit
router OSPF {{ item.OSPF_Process }}
 network {{ item.ip }} area {{ item.area }}
end
{% endfor %}